
.cardUser {
    background: linear-gradient(to right, #353434 0%, #7f7b79 19%, #ece8e8 56%, white);
    display: flex;
    flex-direction: wrap;
    justify-content: flex-start;
    margin-bottom: 5%;
    margin-right: 5%;
    border-radius: 5px;
 
}

.info-card {
    align-self: center;
}

.picture {
    margin: 5%;
    border-radius: 50%;
}

.form-control {
    margin-bottom: 1%;  
}

